.add-accounts-header {
  font-size: 2.5rem;
}

.add-accounts-card {
  margin-bottom: 1rem;
  padding-top: 0.3rem;
  background-color: teal;
  color: whitesmoke;
}

.check-background {
  border-radius: 0 0.2rem 0.2rem 0;
}

.company-info-title {
  text-align: left;
  color: #1f4f83;
}

.add-employees-title {
  color: #1f4f83;
  text-align: left;
}

.plus-button,
.remove-button
{
  width: 100%;
  padding: 6px 8px; 
  background-color: #185494 !important;
}
.remove-button {
  background-color: #a80f17 !important;
}

.act-phone-col {
  padding: 0 !important;
}

.form-check {
  background-color: #1f4f83 !important;
  color: whitesmoke;
  border-radius: 0 0.2rem 0.2rem 0;
  padding: 7px 32px;
}

.act-details-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: calc(5 * 5);
}

.empNameRow {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.emp-name-col {
  flex-grow: 1.6;
}


@media screen and (min-width: 320px) {
  .empNameRow {
    display: flex;
    flex-direction: row;
  }
  .emp-name-col, 
  .input-col {
    margin: 0 1rem;
    padding:0;
  }
}

@media screen and (min-width: 600px) {
  .check-background {
    margin-left: -52px !important;
  }
  .empNameRow {
    flex-wrap: nowrap;
    margin: 0 1rem;
  }
  .plus-button,
  .remove-button {
    width: 5rem;
  }
  .emp-name-col {
    padding: 0;
    margin: 0 -24px 0 -6px }
}

@media screen and (min-width: 768px) {
  .check-background {
    margin-left: -38px !important;
    border-radius: 0.2rem;
  }
  .emp-name-col {
    margin: 0 -13px 0 1px }
}

@media screen and (min-width: 1024px) {
  .check-background {
    margin-left: -47px !important;
  }
  .form-check {
    padding: 7px 47px;
  }
}
@media screen and (min-width: 1280px) {
  .form-check {
    padding: 7px 55px;
  }
}